$white: #ffffff;
$lightNavy: #2d3b4a;
$navy: #131A21;
$lightGrey: #dedede;
$regularGrey: #f0f0f0;
$success: #5dc279;
$danger: #d03434;
$warning: #F3A746;

$lightNavyHover: #273443;
$dangerHover: #b52828;

$regRadius: 5px;